.pool-name {
    .pair-text {
        flex-grow: 0;
        max-width: unset;
    }
    img {
        width: 2em;
    }
}

.react-bootstrap-table table {
    table-layout: auto;
}

.table td, .table th {
    vertical-align: middle;
}

td div {
    align-items: center;
}

.logo-col {
    flex-grow: 0;
}