html, body, #root {
  height: 100%;
}

.full-height {
  height: 100%;
}

.App {
  text-align: center;
}

.header {
  margin-bottom: 1em;
}

.image-card {
  margin-bottom: 0.1em;
  padding: 0.1em;
}

.image-info {
  padding: 2em;
  text-align: left;
}

.pool-name img {
  width: 2em;
}

.filters {
  text-align: left;
  padding-top: 2em;
}