html, body, #root {
  height: 100%;
}

.full-height {
  height: 100%;
}

.App {
  text-align: center;
}

.header {
  margin-bottom: 1em;
}

.image-card {
  margin-bottom: 2em;
  padding: 2em;
}

.image-info {
  padding: 2em;
  text-align: left;
}